.popup {
  display: none;
}

.popup.open {
  display: grid;
}

.popup {
  grid-template-rows: 240px 60px;
  grid-template-columns: repeat(2, 300px);
  grid-gap: 15px;
  z-index: 10;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &__wrap {
    position: relative;
  }

  &__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    opacity: 0.5;
    z-index: 2;
  }

  &__main {
    position: relative;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    z-index: 3;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  &__title {
    margin: 0;
  }

  &__state {
    margin-top: 5px;
  }

  &__icon {
    position: absolute;
    min-width: 20px;
    min-height: 20px;
    top: 20px;
    right: 20px;
  }

  &__custom-value {
    font-size: 30px;
    font-weight: 700;
  }

  &__btn {
    z-index: 3;
    border:0;
    border-radius: 20px;
    font-weight: 700;
    outline: none;
    cursor: pointer;
  }

  &__action-btn {
    background-color: #FFD93E;
  }

  &__close-btn {
    background-color: #fff;
  }

  .filtr__filtr-item:first-child {
    margin-left: 0;
  }

  .range {
    margin-top: 25px;
  }
}