nav.nav
    ul.nav__nav-list
        li.nav__nav-item
            a(href="#").active.nav__nav-link Сводка
        li.nav__nav-item
            a(href="#").nav__nav-link Устройства
        li.nav__nav-item
            a(href="#").nav__nav-link Сценарии