mixin card(subjHref, activeClass, iconClass, subjTxt, subjState)
    a(href= subjHref, class= activeClass).card
        div.card__icon(class= iconClass)
        div.card__subj= subjTxt
        span.card__state= subjState
    block