.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  color: @grey-base;
  background-color: @grey-bg;
  text-decoration: none;
  padding: 15px;
  border-radius: 20px;
  max-width: 200px;
  max-height: 90px;

  &:hover {
    transition: .2s all ease-out;
    background-color: @white;
    box-shadow: 0 2px 6px 0 rgba(197,186,186,0.50);
  }

  &__icon {
    position: absolute;
    top:15px;
    left: 15px;
    width: 26px;
    height: 26px;
    background-image: url('../svg/icon_temperature.svg');
  }

  &__subj {
    font-weight: 700;
  }

  &__state {
    color: @grey-subTxt;
    font-size: 12px;
    margin-top: 5px;
  }
}

.card.active {
  .card__icon {
    background-image: url('../svg/icon_temperature_2.svg');
  }
}