include ../../blocks/card-mixin/card.pug
include ../../blocks/controls/controls.pug
include ../../blocks/filtr/filtr.pug
include ../../blocks/footer/footer.pug
include ../../blocks/header/header.pug
include ../../blocks/popups/popup.pug
include ../../blocks/range/range.pug
include ../../blocks/general-section/general-section.pug