mixin footer()
    footer.footer
        div.container
            div.footer__flex-wrap
                nav.footer__nav.nav
                    ul.nav__nav-list
                        li.nav__nav-item
                            a(href="#").nav__nav-link Помощь
                        li.nav__nav-item
                            a(href="#").nav__nav-link Обратная связь
                        li.nav__nav-item
                            a(href="#").nav__nav-link Разработчикам
                        li.nav__nav-item
                            a(href="#").nav__nav-link Условия использования
                div.footer__copyright
                    span © 2001-2012
                    span ООО
                        a(href="//www.yandex.ru") «Яндекс»
    block