extends ../layout/main

block content

    +popup('popup__temp', 'Elgato Eve Degree Connected', 'Выключено до 17:00', '', '+23')
        +filtr()
        +range('range__temp', '-10', '+30')

    +popup('popup__light', 'Xiaomi Mi Air Purifier 2S', 'Включено')
        +filtr()
        +range('range__light')

    div.container
        section.main-window-grid
            div
                h2 Главное
                +general
                    div.general__card-list-grid
                        +card('#', '', 'Phillips Cooler', 'Начнет охлаждать в 16:30')
                        +card('#', '', 'Xiaomi Yeelight LED Smart Bulb', 'Включится в 17:00')

            div.selected-sceme
                h2 Избранные сценарии
                +controls()
                div.selected-sceme-grid
                    +card('#', '', 'Выключить весь свет в доме и во дворе' )
                    +card('#', '', 'Я ухожу')
                    +card('#', '', 'Включить свет в коридоре')
                    +card('#', '', 'Набрать горячую ванну', 'Начнется в 18:00')
                    +card('#', '', 'Сделать пол теплым во всей квартире')
        section.selected-device
            h2.selected-device__title Избранные устройства
            +controls()
            +filtr()
            div.selected-device-grid
                +card('#', '', 'Xiaomi Yeelight LED Smart Bulb', 'Включено')
                +card('#', '', 'D-Link Omna 180 Cam', 'Включится в 17:00')
                +card('#popup__temp', '', 'Elgato Eve Degree Connected', 'Выключено до 17:00')
                +card('#popup__light', '', 'Xiaomi Mi Air Purifier 2S', 'Включено')
                +card('#', '', 'Philips Zhirui', 'Выключено')