extends ../layout/main

block content

    +popup('popup__light', 'Xiaomi Mi Air Purifier 2S', 'Включено')
        +filtr()
        +range('range__light', '', '')

    +popup('popup__temp', 'Elgato Eve Degree Connected', 'Выключено до 17:00', '', '+23')
        +filtr()
        +range('range__temp', '-10', '+30')

    div.page
        div.container
            section.main-window-grid
                div
                    h2 Главное
                    +general
                        div.general__card-list-grid
                            +card('#', 'active', 'card__icon_temp', 'Phillips Cooler', 'Начнет охлаждать в 16:30')
                            +card('#', '', 'card__icon_light', 'Xiaomi Yeelight LED Smart Bulb', 'Включится в 17:00')
                            a(href="#").card.half-card
                                include ../../svg/arrows.svg

                div.selected-sceme
                    h2 Избранные сценарии
                    +controls()
                    div.selected-sceme-grid
                        +card('#', 'active', 'card__icon_temp', 'Выключить весь свет в доме и во дворе' )
                        +card('#', '', 'card__icon_light', 'Я ухожу')
                        +card('#', '', 'card__icon_light', 'Включить свет в коридоре')
                        +card('#', '', 'card__icon_temp', 'Набрать горячую ванну', 'Начнется в 18:00')
                        +card('#', '', 'card__icon_temp', 'Сделать пол теплым во всей квартире')
                        +card('#', 'active', 'card__icon_light', 'Выключить весь свет в доме и во дворе' )
                        +card('#', '', 'card__icon_light', 'Я ухожу')
                        +card('#', '', 'card__icon_light', 'Включить свет в коридоре')
                        +card('#', '', 'card__icon_temp', 'Набрать горячую ванну', 'Начнется в 18:00')
                        +card('#', '', 'card__icon_temp', 'Сделать пол теплым во всей квартире')
            section.selected-device
                h2.selected-device__title Избранные устройства
                +controls()
                +filtr()
                div.selected-device-grid
                    +card('#popup__light', '', 'card__icon_light', 'Xiaomi Yeelight LED Smart Bulb', 'Включено')
                    +card('#popup__temp', 'active', 'card__icon_light', 'D-Link Omna 180 Cam', 'Включится в 17:00')
                    +card('#', 'active', 'card__icon_temp', 'Elgato Eve Degree Connected', 'Выключено до 17:00')
                    +card('#', '', 'card__icon_light', 'Xiaomi Mi Air Purifier 2S', 'Включено')
                    +card('#', '', 'card__icon_light', 'Philips Zhirui', 'Выключено')