mixin filtr()
    div.filtr
        ul.filtr__list
            li.filtr__filtr-item
                a(href="#").filtr__filtr-link Все
            li.filtr__filtr-item
                a(href="#").filtr__filtr-link Кухня
            li.filtr__filtr-item
                a(href="#").filtr__filtr-link Зал
            li.filtr__filtr-item
                a(href="#").filtr__filtr-link Лампочки
            li.filtr__filtr-item
                a(href="#").filtr__filtr-link Камеры
    block