- var items =['item1', 'item2', 'item3', 'item4', 'item5'];

mixin filtr()
    div.filtr
        ul.filtr__list
            each item in items
                li.filtr__filtr-item
                    a(href="#").filtr__filtr-link= item

    block