head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no")
    title Smart ya-house
    link(href="../src/css/_fonts.css")
    link(rel="stylesheet" href="./css/style.min.css")