mixin general()
    section.general
        div.general-section-grid
            div
                p.general__hello Привет, Геннадий!
                p.general__notice Двери и окна закрыты, сигнализация включена.
                div.general__temp
                    div.general__temp-item
                        span.general__temp-desc Дома
                        span.general__temp-value +23
                    div.general__temp-item
                        span.general__temp-desc За окном
                        span.general__temp-value +19
            div
                block