mixin controls()
    div.controls
        div.controls__control
            a(href='#').controls__control-link.controls__control-link_prev
        div.controls__control
            a(href='#').controls__control-link.controls__control-link_next