.controls {
  position: absolute;
  right: 15px;
  top: 20px;

  &__control {
    display: inline-block;
  }

  &__control-link {
    text-decoration: none;
    color: #333;
    opacity: 0.3;
    padding: 3px;
    &:hover {
      opacity: 1;
    }
  }
}