.header {
  position: fixed;
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid @grey-light;
  background: @white;
  z-index: 1;

  &__flex-wrap {
    display: flex;
    align-items: center;
  }

  &__logo {
    display: inline-block;
    margin-right: 50px;
  }

  &__logo img {
    width: 108px;
    height: 27px;
  }
}