mixin header()
    header.header
        div.container
            div.header__flex-wrap
                div.header__logo
                    img(src='../src/img/logo@2x.png')
                div.main-nav.collapsed
                    button.burger-btn X
                    include ../nav/nav
    block